<% @todos.each do |todo| %>
	<% unless todo.done? %>
	<div class="panel panel-default col-md-12">
		<div class="panel-body">
		<a href="#"><i class="fa fa-square-o fa-lg un-checked" id="<%= todo.id %>"></i></a> &nbsp;
			<%= todo.task %>
			<% if past_due(todo.due) then style = "text-danger" elsif is_due(todo.due) then style = "text-warning" else style="text-primary" end %>
			<span class="<%= style %>"><%= todo.due.strftime("%m/%d/%Y") %></span>

			<div class="pull-right">
				<%= link_to edit_todo_path(todo), remote: true do %>
				    <i class="fa fa-pencil fa-lg"></i>
			  <% end %>
			  <%= link_to todo, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
			  	<i class="fa fa-trash fa-lg"></i>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
<% end %>
