<%= link_to new_todo_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>



<div id="todo-form" style="display:none;"></div>


<div class="col-md-7 col-md-offset-1" id="todos">
<% current_user.todos.each do |todo| %>
	<%= todo.task %> - <%= todo.user.first %><%= link_to edit_todo_path(todo), remote: true do %>
	    <button>Edit</button>
  <% end %>
  <%= link_to todo, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
  	<button>Delete!</button>
	<% end %>
<% end %>
<br><br><br></div>